h1 {
    text-align: center;
    padding-block: 1em;
    color: white;
    letter-spacing: 0.2em;
  }
  
  .information {
    display: flex;
    justify-items: center;
    gap: 2em;
  }
  
  .information .media {
    flex: 0 0 30em;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .information article {
    flex: 1 1 auto;
  }
  
  .information article p {
    text-indent: 2em;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 2em;
  }
  
  
  .information [class*="btn"] button {
    flex: 0 0 35%;
    padding-block: 0.5em;
    border-radius: 2em;
    background: linear-gradient(90deg, rgba(182, 24, 43, 1) 0%, rgba(244, 4, 8, 0.4838882398753894) 78%);
    margin-bottom: 1em;
  }
  
  .information [class*="btn"] button i {
    display: block;
    font-size: 20px;
  }
  
  .information [class*="btn"] button i:hover {
    font-size: 30px;
  }
  
  .information [class*="btn"] button:first-of-type {
    background: linear-gradient(90deg, rgba(36, 166, 103, 1) 0%, rgba(43, 171, 60, 0.4838882398753894) 23%);
    ;
  }

  .dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .add-comment-section{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-block: 1em;
  }

  .add-comment-section button{
    margin: 0;
  }

  .container-comments {
    display: flex;
    gap: 1em;
    margin-inline: 1em;
    flex-direction: column;
    justify-content: center;
    
  }

  .commented-section{
    
    gap: 1em;
    border: 0.1em solid white;
    border-radius: 1em;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    padding: 1em;
    background-color: #518b8b;
    
  }

  .comment-info{
    font-size: 1.2em;
  }

  .mr-2, .comment-text-sm {
    display: flex;
    align-items: center;
  }

  h5, .comment-text-sm{
    font-size: 1.2em;
  }