.slide-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1em solid grey;
    border-radius: 0.5em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.2);
    height: 40em;
    background: linear-gradient(90deg, rgba(160, 204, 221, 1) 0%, rgba(236, 241, 249, 0.4838882398753894) 78%);
    ;
  }
  
  .slide-bar h2 {
    color: white;
    text-transform: uppercase;
    padding-block: 1em;
    letter-spacing: 0.1em;
  }
  
  .top-places {
    display: flex;
    gap: 1em;
    justify-content: center;
    padding-bottom: 1em;
  }
  
  .top-places .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 0.2em;
    margin: 0 auto;
  }

  a {
    margin: 0 0 10px;
    margin-inline: 2em;
    align-items: center;
  }
  
  .top-places .card img {
    height: 20em;
    overflow: hidden;
    margin-bottom: 2em;
    border-radius: 0.5em;
  }
  
  .top-places .card .info {
    display: flex;
    gap: 1em;
    margin-inline: 2em;
    align-items: center;
  }
    
  .top-places .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  